html,
body {
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;

    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 0;
    line-height: 1.5;
}
#map {
    width: 100%;

    background: rgba(0, 0, 0, 0.1);
}
.map,
.menu-block {
    display: inline-block;
    overflow-x: visible;

    box-sizing: border-box;
    height: 100vh;
    margin: 0;
    padding: 0;

    vertical-align: top;

    background: #ffffff;

    font-size: 14px;
}
.marker_list {
    overflow-y: scroll;

    height: 100vh;
}
.menu-block {
    position: fixed;
    top: 0;
    right: -25%;

    width: 25%;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
.menu-block:hover {
    right: 0;
}
.controls {
    position: absolute;

    width: 96px;
    height: 90px;
    margin-left: -96px;

    background-color: #1c87bb;

    font-size: 0;
}
.controls span {
    position: absolute;
    top: 40px;
    right: 18px;
    left: 18px;

    display: block;

    height: 8px;

    background: #ffffff;
}
.controls span::before {
    top: -20px;
}
.controls span::after {
    bottom: -20px;
}
.controls span::after,
.controls span::before {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 8px;

    content: "";

    background-color: #ffffff;
}
.marker_item {
    display: block;

    margin: 0;
    padding: 17px 30px 13px;

    text-decoration: none;
    text-transform: uppercase;

    color: #1c87bb;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.marker_item:hover {
    cursor: pointer;

    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.05);
}
.marker_item:active {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0.1);
}
.marker_item.active{
    color: #ffffff;
    background: #1c87bb;
}
.marker_item small{
    color: grey;
}
.marker_item.active small{
    color: #ffffff;
}

.leaflet-control-container {
    display: none;
}
@media screen and (max-width: 980px) {
    #map,
    .menu-block {
        position: static;

        display: block;

        width: 100%;
        height: 50vh;
    }
    .controls {
        display: none;
    }
    .marker_list {
        overflow-x: auto;

        max-height: 50vh;
    }
}
