html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 0;
    line-height: 1.5;
}
#map {
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.map,
.menu-block {
    box-sizing: border-box;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    margin: 0;
    padding: 0;
    font-size: 14px;
    background: #ffffff;
    overflow-x: visible;
}
.marker_list {
    overflow-y: scroll;
    height: 100vh;
}
.menu-block {
    width: 25%;
    position: fixed;
    top: 0;
    right: -25%;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
.menu-block:hover {
    right: 0;
}
.controls {
    font-size: 0;
    position: absolute;
    width: 96px;
    height: 90px;
    margin-left: -96px;
    background-color: #1c87bb;
}
.controls span {
    display: block;
    position: absolute;
    top: 40px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: #ffffff;
}
.controls span::before {
    top: -20px;
}
.controls span::after {
    bottom: -20px;
}
.controls span::after,
.controls span::before {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 8px;
    background-color: #ffffff;
    content: "";
}
.marker_item {
    display: block;
    margin: 0;
    padding: 17px 30px 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #1c87bb;
    text-transform: uppercase;
}
.marker_item:hover {
    background: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    cursor: pointer;
}
.marker_item:active {
    background: rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}
.marker_item.active{
    background: #1c87bb;
    color: #ffffff;
}
.marker_item small{
    color: grey;
}
.marker_item.active small{
    color: #ffffff;
}

.leaflet-control-container {
    display: none;
}
@media screen and (max-width: 980px) {
    #map,
    .menu-block {
        width: 100%;
        display: block;
        height: 50vh;
        position: static;
    }
    .controls {
        display: none;
    }
    .marker_list {
        overflow-x: auto;
        max-height: 50vh;
    }
}